<h1>Popular Movies</h1>
<br>
<ul class="list-group">
  {{#each model as |movie|}}
    <li class="list-group-item">
      <div class="media">
        <div class="media-left">
          <a href="javascript:void(0)">
            <img src="http://image.tmdb.org/t/p/w150{{movie.poster_path}}" class="media-object">
          </a>
        </div>
        <div class="media-body">
          {{#link-to "movie" movie}}<h2 class="media-heading">{{movie.title}}</h2>{{/link-to}}
          <hr>
          <p class="text-justify">{{movie.overview}}</p>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
